$primary: #161A30;
$on_secondary: #B6BBC4;
$on_primary: #F0ECE5;
$secondary: #31304D;

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  /* mobile */
  float: left;
  width: 100%;
  padding: 2rem;
}

@media only screen and (min-width: 640px) {
  /* tablet */
  .col-s-1 {width: 16.66%;}
  .col-s-2 {width: 33.33%;}
  .col-s-3 {width: 50%;}
  .col-s-4 {width: 66.66%;}
  .col-s-5 {width: 83.33%;}
  .col-s-6 {width: 100%;}
}

@media only screen and (min-width: 768px) {
  /* desktop */
  .col-1 {width: 16.66%;}
  .col-2 {width: 33.33%;}
  .col-3 {width: 50%;}
  .col-4 {width: 66.66%;}
  .col-5 {width: 83.33%;}
  .col-6 {width: 100%;}
}

.shop {
  display: grid;
  align-items: center;
  justify-content: start;
  border-radius: 15px;
  background: linear-gradient(45deg, #2c2b45, #343352);
  box-shadow: 5px -5px 10px #2c2b45, -5px 5px 10px #363555;
  border: $on_secondary 3px solid;
  padding: 2rem;
  gap: 1rem;
  

  .shop-item {
    display: grid;
    grid-template-rows: auto auto;

    .icon-container {
      grid-column: 1;
      font-size: 3em;
      justify-self: center;

    }

    .item-details {
      grid-column: 2;

      button {
        background-color: $primary;
        color: $on_primary;
        border-radius: 5px;
        border: none;
        padding: 10px 20px;
        margin-top: 0.5rem;
        cursor: pointer;


        &:hover {
          background-color: $on_primary;
          color: $primary;
        }
      }
    }

  }
}

.clicker {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.blink-red {
  background-color: rgb(231, 66, 66) !important;

  &:hover {
    background-color: rgb(231, 66, 66) !important;
  }
}

#clicker {
  font-size: max(10rem);
  background: none;
  border: none;
  z-index: 1;
  cursor: pointer;
}

#counter {
  font-size: max(5rem);
  color: $on_secondary;
}